:root{
    --dark-purple: #7F669D;
    --pale-purple: #BA94D1;
    --pink: #DEBACE;
    --pale-yellow: #FBFACD;
    --dark-orange: #FAAB78;
    --pale-orange: #FFDCA9;
    --pale-green: #E8F3D6;

}


body{
    margin: 0;
    padding: 0;
}

#content{
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100vh;
}

#header{
    grid-column: 2;
    background: var(--pink);
}

#sidebar{
   grid-row: 1/3;
   grid-column: 1/2;
   background: var(--dark-purple);
}

#projects-list{
    margin-left: 20%;
}

#main{
    grid-row: 2/-1;
    grid-column-start: 2;
    background: var(--pale-purple);
}

#footer{
    grid-column: 1/-1;
    grid-row: 3/-1;
    background: var(--pale-orange);
}

.task-div{
    border: 2px solid red;
    margin: 0.3%;
    display: flex;
    align-items: center;
}

#logo{
    background-image: url('./images/favourite-book.svg');
  height: 5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebar-icon{
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2%;
}

#all-icon{
    background-image: url('./images/calendar.svg');
}

#today-icon{
    background-image: url('./images/clock-outline.svg');
}

#important-icon{
    background-image: url('./images/three-stars.svg');
}

#projects-icon{
    background-image: url('./images/packages.svg');
}

#all, #today, #important, #projects, #title{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.task-icon{
    height: 2rem;
    width: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.important-icon{
background-image: url('./images/star-outline.svg');
}

.delete-icon{
    background-image: url('./images/trash-outline.svg');
}

.edit-icon{
    background-image: url('./images/create-outline.svg');
}

.task-form{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
}

.active{
    display: block;
}

input, textarea{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.projectDiv{
    display: flex;
    border: 2px solid red;
}
